
.nav{
    .nav-btn{
       color: white;
        margin: 0px 5px;
    }
    .bag-icon{
        color: white;
        font-size: 30px;
    }
//     // .css-hip9hq-MuiPaper-root-MuiAppBar-root{
//     //     background-color: orange !important;
//     // }
//     // .css-r6ewbb-MuiToolbar-root,.MuiContainer-root {
//     //     background-color: orange !important;
//     // }
    }