

#create-product{
    .create-h{
        text-align: center;
        margin: 20px 0;
    }
    .create-form{
        width: 45%;
        margin: auto;
        background-color: aquamarine;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 1px 2px lightgray, 0 0 1px 2px lightgray;
    }
    .col-6{
        width: 50%;
    }
    .col-12{
        width: 100%;
    }
    .btn-cen{
        text-align: center;
    }
    label{
        font-size: 20px;
        font-weight: 600;
    }
    .MuiOutlinedInput-input{
        background-color: white;
    }
   
}
// #create-product{
       

// .create-h{
//     text-align: center;
//     padding:15px 0 ;
//     text-transform: capitalize;
//     font-size: 30px;
// }
// .create-i{
//      color: orange;
//     font-size: 30px !important;
// }
// .create-container{
//     width: 50%;
//     margin: auto;
// }
// label{
//     font-size: 20px !important;
//     font-weight: 600 !important;
//     color: black !important;
// }
// .create-form{

//     background-color:aqua;
//     padding: 25px 0;
//     border-radius: 5px;
// }

// .product-input{
//     display: block !important;
//     width: 35% !important;
//     margin: auto !important;
//     margin-top: 15px !important;
//     background-color:white !important;
    
// }
// .create-form Button{
//     display: block;
//     margin: auto;
//     margin-top: 20px;
// }
// }